.popupFaq {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;

  &.is-open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1001;
  }

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: $white-color;
    background-image: url('../../images/background_popupFaq.svg');
    background-size: cover;
    background-position: top;
    border-radius: 25px;
    padding: 32px 16px;
    box-sizing: border-box;
    z-index: 1002;

    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      width: 600px;
      height: 80vh;
      padding-inline: 35px;
    }

    @include on-desktop {
      width: 800px;
      height: 80vh;
      background-position: center 25%;
      padding: 48px 83px;
    }
  }

  &__btnClose {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 50%;
    background-image: url('../../images/icon_close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

    @include on-desktop {
      top: 40px;
      right: 40px;
    }
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 32px;

    @include on-desktop {
      margin-top: 48px;
      font-size: 52px;
      line-height: 58px;
    }
  }

  &__accordion {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background: #FFFFFF99;
    backdrop-filter: blur(80px);
    width: 100%;
    max-height: 100%;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: auto;
  }

  &__item {
    border-bottom: 1px solid #e0e0e0;
    padding: 12px 0;

    &::marker {
      display: none;
    }

    @include on-desktop {
      padding: 20px 0;
    }
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    list-style: none;

    @extend %text-subtitle1;

    &::after {
      content: '';
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin-left: 12px;
      background-image: url('../../images/dropdown.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transition: transform 0.3s;
    }
  }

  &__item[open] &__question::after {
    transform: rotate(180deg);
  }

  &__answer {
    @extend %text-body;
    margin: 12px 0 0 0;
    color: black;
  }
}
