%text-h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

%text-h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

%text-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

%text-subtitle1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

%text-bigTitle {
  font-weight: 700;
  font-size: 34px;
  line-height: 50px;
}