$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$effectDuration: 0.3s;
$main-green: #43B02A;
$green-block: #D7FEB0;
$white-color: #FFFFFF;
$gradient-green: radial-gradient(169.19% 238.89% at -30.81% 112%, #5AEC1F 0%, #DBFDD0 100%);
$gradient-button: linear-gradient(93.71deg, #4EE786 -0.99%, #88DBBF 19.92%, #FFF05F 45.96%, #D28CE1 81.89%, #94ACDD 100.22%);
$gradient-orange: radial-gradient(223.41% 365% at -30.81% 112%, #FFEA00 0%, #FF4400 100%);


